<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.UserRoleMapper">

    <select id="selectRoleCodesByUserId" resultType="java.lang.String">
        SELECT r.role_code
        FROM sys_role r
                 INNER JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND r.deleted = 0
          AND r.status = 1
    </select>

    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        SELECT ur.role_id
        FROM sys_user_role ur
                 INNER JOIN sys_role r ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND r.deleted = 0
          AND r.status = 1
    </select>

    <delete id="deleteByUserId">
        DELETE FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>

    <select id="selectRoleNamesByUserIds" resultType="java.util.LinkedHashMap">
        SELECT ur.user_id AS userId, ur.role_id AS roleId, r.role_name AS roleName
        FROM sys_user_role ur
                 INNER JOIN sys_role r ON r.id = ur.role_id
        WHERE ur.user_id IN
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND r.deleted = 0
        AND r.status = 1
    </select>

</mapper>
